* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  /*First Challenge*/
  /*Second Challenge*/
  /*Third Challenge*/
  /*Fourth Challenge*/
  /*Fifth Challenge*/
  /*6th Challenge*/
}
.container > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}
.container button {
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.container button#btn1 {
  background-color: black;
  color: white;
}
.container button#btn1:hover {
  background-color: white;
  color: black;
  border: solid black 2px;
  box-shadow: 6px 6px black;
}
.container button#btn2 {
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.container button#btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.3s;
}
.container button#btn2:hover {
  background-color: white;
  color: black;
  border: solid black 2px;
  box-shadow: 6px 6px black;
}
.container button#btn2:hover::before {
  left: 100%;
}
.container button#btn3 {
  position: relative;
  background-color: #006d00;
  color: white;
  border: none;
  overflow: hidden;
  transition: background-color 0.5s, color 0.5s;
}
.container button#btn3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.2) 100%);
  transition: left 0.5s;
  z-index: 1;
}
.container button#btn3:hover::before {
  left: 100%;
}
.container button#btn3:hover {
  background-color: #00a600;
  color: white;
}
.container div#shape1 {
  width: 200px;
  height: 200px;
  background-color: #b9b9b9;
}
.container div#shape1:hover {
  background-color: #ecde00;
}
.container div#shape1:hover::after {
  content: "Hello!";
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  animation: fade 4s;
}
.container #shape2 {
  width: 80px;
  height: 80px;
  background-color: #f12300;
  position: absolute;
  top: 0;
  left: 0;
  /*Animation*/
  animation-name: shapes;
  animation-duration: 15s;
}
.container #figure1:hover img {
  filter: grayscale(100%);
  visibility: visible;
}
.container #figure1 figcaption {
  visibility: hidden;
}
.container #figure1:hover figcaption {
  visibility: visible;
  background-color: pink;
  color: black;
}

/*Keyframes  */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shapes {
  0%, 100% {
    transform: scale(1) translate(0, 0) rotate(0deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  25% {
    transform: scale(0);
    transform: translateX(28vw) translateY(0) rotate(90deg);
    border-radius: 50%;
    clip-path: circle(60%);
    background-color: #00a800;
  }
  50% {
    transform: scale(1);
    transform: translateX(28vw) translateY(370px) rotate(180deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  75% {
    transform: translateX(0) translateY(370px) rotate(270deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: orange;
  }
}

/*# sourceMappingURL=style.css.map */
